{% extends 'shop/base.html' %}

{% block content %}
    <div class="post">
        <h2>Товар: {{ post.thing }}</h2>
        <h5>Категория: {{ post.cat }}</h5>


        <div class="text">
            {% if post.foto %}
                <img src="{{ post.foto.url }}" class="image" alt="">
            {% endif %}

            <p>Описание: {{ post.description|safe }}</p>
            <p>Цена: {{ post.cost }}</p>
            <p>Время: {{ post.time }}</p>
            <p>Время обновления: {{ post.time_update }}</p>
            <p>Есть в наличие: {{ post.is_available }}</p>
        </div>

    </div>


{% endblock %}